@import "src/general/colors";
@import "src/general/sizes";

.professor{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 
  padding-top: 120px;
 

  background-color: beige;

}
